/* Configurações de estilo do site */

/* Fonts Google */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Variaveis CSS */
:root {
	--color-red: #D6000D;
	--roboto-fonts: 'Roboto', sans-serif;
}

html,
body,
address, ul li, p {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: auto;
}

section {
    /*margin: 4rem auto;
    padding: auto;*/
    display: grid;
    grid-template-rows:
        [header]  auto
        [section] 6rem
        [footer] auto;
}

.navbar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.navbar-logotipo {
	display: inline-block;
	margin: 10px 20px;
	font-family: var(--roboto-fonts);
	font-size: 50px;
	font-weight: 600;
	text-transform: capitalize;
	color: var(--color-red);
	font-style: italic;
}

.logo-point {
	font-size: 50px;
	font-weight: 500;
	color: black;
	padding: 0 1px;
	border-radius: 50px;
}

.navbar-links {
	display: inline-block;
	position: absolute;
	left: auto;
	right: 300px;
}

.navbar-links li {
	display: inline-block;
	margin: auto 8px;
	padding: auto;
	font-family: var(--roboto-fonts);
	font-size: 24px;
	text-transform: capitalize;
	font-weight: 500;
	color: #000;
	text-align: center;
	list-style: none;
}

.navbar-links li a {
	text-decoration: none;
	color: black;
}

button[name="login"], #buttonLogin {
    padding: 10px 5px;
    border-radius: 50px;
    width: 150px;
    margin-right: 10px;
}

.container-section {
	display: flex;
	flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.box-image {
    width: 512px;
}

img {
	width: 100%;
	height: 100%;
}

.box-image:last-child{
    position: relative;
    top: -100px;
}

.box-h2 h2 {
    font-family: var(--roboto-fonts);
    font-weight: 400;
}

.box-h2-lg {
	margin: 8px auto;
	padding: auto;
    display: inline;
	font-family: var(--roboto-fonts);
	font-size: 48px;
	font-weight: 600;
	letter-spacing: 1px;
    line-height: 10px;
	text-align: initial;
	color: var(--color-red);
}

button {
	font-family: var(--roboto-fonts);
	font-size: 22px;
	text-transform: Capitalize;
	text-align: center;
	font-weight: 600;
	padding: 15px 20px;
	width: 250px;
	background: var(--color-red);
	border: none;
	border-radius: 5px;
	color: white;
}

button[name="solicitar orcamento"] {display: block}
button[name="ligamos para voce"] {display: inline-block}

button[name="solicitar orcamento"]:hover, button[name="ligamos para voce"]:hover,
button[name="login"]:hover {
	transform: scale(1.1);
	transition: .4s ease-in-out;
}

.lists li {
	list-style: url(./assets/img/checklist-36x36.png);
	font-family: var(--roboto-fonts);
	font-size: 26px;
	font-weight: 500;
	text-align: initial;
	padding: auto 10px;
	color: black;
}

.box-input {
	display: block;
	margin: 100px 25px;
}

.box-input h3 {
	font-family: var(--roboto-fonts);
	font-size: 28px;
	font-weight: 600;
	text-align: initial;
	color: black;
	margin: 5px auto;
}

input[placeholder] {
	padding: 20px 18px;
	font-family: var(--roboto-fonts);
	font-size: 18px;
	color: grey;
	border-radius: 5px;
	border: none;
	background: #f1f1f1;
}

input:focus {
	outline: 1px solid grey;
}

.cards {
	display: inline-flex;
	background: #DCDCDC;
	padding: 20px 10px;
	margin: 10px 8px;
	border-radius: 5px;
	width: 570px;
	height: 230px;
}

.circle {
	display: block;
	position: absolute;
	background: var(--color-red);
	padding: 50px;
	margin: 5px;
	border-radius: 50px;
}

.cards-text {
	display: block;
	margin-right: 10px;
	margin-left: auto;
	text-align: initial;
	padding: 10px;
	width: 390px;
}

.cards-text p {
	font-family: var(--roboto-fonts);
	font-size: 22px;
	font-weight: 400;
	color: black;
}

.cards-information {
	display: block;
	padding: 20px 10px;
	margin: 10px auto;
}

.cards-information h4 {
	display: block;
	font-family: var(--roboto-fonts);
	font-size: 30px;
	font-weight: 600;
	color: black;
	text-align: initial;
	line-height: 5px;
	margin: 10px auto;
}

cite {
	font-family: var(--roboto-fonts);
	font-size: 16px;
	font-weight: 600;
	color: black;
	text-transform: capitalize;
	font-style: normal;
}

.footer-container {
	display: flex;
	flex-grow: row wrap;
	justify-content: space-between;
	background: black;
	padding: 20px;
}

.column-one {
	display: block;
	margin: 8px 5px;
}

.column-one h1 {
	font-family: var(--roboto-fonts);
	font-size: 48px;
	font-weight: 600;
	font-style: italic;
	text-align: initial;
	color: white;
	margin: auto;
}

.column-one span {
	font-family: var(--roboto-fonts);
	font-size: 20px;
	font-weight: 500;
	text-align: initial;
	color: white;
	margin: 5px auto;
}

.column-one h3 {
	font-family: var(--roboto-fonts);
	font-size: 30px;
	font-weight: 600;
	text-align: initial;
	color: white;
	margin: 5px auto;
}

.column-one address {
	font-family: var(--roboto-fonts);
	font-size: 18px;
	font-weight: 400;
	color: white;
	text-align: initial;
}

.column-one .img-one {
	display: inline-block;
	margin: auto 5px;
	padding: 4px;
}

.img-one img {
	width: 30px;
	height: auto;
}

.img-one a {
	text-decoration: none;
	color: white;
}
